/* * {
    border: 1px solid red;
} */

.miring {
    height: 450px;
    width: 150%;
    transform: rotate(-50deg) translate(-20%, -40%);
    z-index: -1;
}

.card-akun {
    width: 85%;
    height: 80vh;
    top: 10vh;
}

.image-akun {
    height: 80vh;
    background-color: blue;
    background-image: url("../img/landing/mt_bg1.png");
    background-size: cover;
}

.image-akun img {
    width: 65%;
    transform: translate(15%, 100%);
}

.rounded-left {
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}

span.line-center-text {
    display: flex;
    flex-direction: row;
    padding: 0px 5px 0px;
}

span.line-center-text::before,
span.line-center-text::after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}

span.line-center-text::before {
    margin-right: 10px;
}

span.line-center-text::after {
    margin-left: 10px;
}

@media screen and (max-width:1280px){
    .miring {
        transform: rotate(-50deg) translate(-20%, -30%);
    }
}

@media screen and (max-width:885px){
    .miring {
        width: 200%;
        transform: rotate(-50deg) translate(-20%, -25%);
    }
    .login-form div:not(.row) {
        margin-right: .5rem !important;
        margin-left: .5rem !important;
    }

    .image-akun, .card-akun {
        height: 70vh;
    }

    .check{margin-right:0!important;margin-left:0!important}
}

@media screen and (max-width:767px){
    .miring {
        transform: rotate(-50deg) translate(-20%, -10%);
    }
    .card-akun {
        height: fit-content;
        width: 60%;
        margin-bottom: 100px;
    }

    .image-akun {
        height: 70vh;
    }
}

@media screen and (max-width:630px){
    .miring {
        height: 300px;
        width: 300%;
        transform: rotate(-55deg) translate(-40%, -110%);
    }

    .image-akun {
        height: 50vh;
    }
}

@media screen and (max-width: 575px) {
    .miring {
        height: 250px;
        width: 300%;
        transform: rotate(-60deg) translate(-40%, -120%);
    }

    .login-button button {
        width: 94%;
    }
    
    .card-akun {
        width: 70%;
    }
}

@media screen and (max-width:450px){
    .miring {
        height: 200px;
        width: 350%;
        transform: rotate(-55deg) translate(-30%, -130%);
    }
    .body-akun {padding:1.5rem!important}

    .card-akun {
        width: 80%;
    }
}